<div class="container">
    <div class="row py-1">
        <!-- logo -->
        <div class="col">
            <a href="javascript:window.open('https://cas.inap.es/', '_blank')" title="ir al inicio"><img class="img-fluid" src="https://stackblitz.com/files/angular-ivy-bqatbz/github/mlaraboto/angular-ivy-bqatbz/master/src/app/assets/imagenes/inap_logo.jpg"></a>
        </div>
        <!-- banner de la parte superior, llama a componente productos y recuperará los del mes en curso-->
        <div class="col">
            <a href="#"><img class="img-fluid img-thumbnail" src="https://stackblitz.com/files/angular-ivy-bqatbz/github/mlaraboto/angular-ivy-bqatbz/master/src/app/assets/imagenes/banner2.png"></a>
        </div>
        <div class="col text-end pt-3">
            <span class="fa fa-phone"></span>Llámanos ahora: 980-987377
            <nav><span class="fa fa-envelope"></span>Contacta</nav>
        </div>
    </div>
    <div class="separador row"></div>
    <div class="row bg-light">
        <div class="col-3  my-2 rounded">
            <input class="form-control rounded" 
            type="search" 
            placeholder="Buscador de productos"
            title="la búsqueda comienza 2 segundos después de introducir o modificar el texto"
           >
        </div>
        <nav class="col-7 text-end my-3 ">
            <span class="fa fa-shopping-cart" ></span>Carrito
        </nav>
        <!-- Si está conectado mostrar este div, si no, template conectado -->
        <div  class="col-2 text-end my-2 ">
            <button  class="btn btn-outline-secondary">Iniciar sesión</button>
        </div>
       
    </div>
    <div class="separador row"></div>
    <div class="row text-center align-items-center">
        <nav class="col pt-1 pb-1">Inicio</nav>
        <!-- llamar a productos (todos) -->
        <nav class="col pt-1 pb-1" >
            Productos</nav>
        <!-- llamar a productos > ofertas -->
        <nav class="col pt-1 pb-1" >
            Sólo ofertas</nav>
    </div>
    <div class="separador row"></div>
</div>